@import 'settings';

@mixin theme-p-form {
  .p-form {

    &__group {
      display: flex;
    }

    &__label {
      flex: {
        basis: auto;
        grow: 1;
      }
      max-width: 243px;
    }

    &__control {
      flex: {
        basis: auto;
        grow: 1;
      }
    }

    &--inline {

    }

    &--stacked {

    }
  }
}
