@import 'settings';

@mixin theme-p-list-tree {
  .p-list-tree {
    border-left: 1px solid $color-mid-light;
    list-style-type: none;
    margin-left: 1rem;
    padding: 0 0 .3125rem .5rem;

    &__item {
      margin-top: .26rem;
      padding-left: .8rem;
      position: relative;

      &--group::after {
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path id="a" d="M0 0h15v15H0z"/></defs><g fill="none" fill-rule="evenodd"><use fill="#FFF" xlink:href="#a"/><path stroke="#888" d="M.5.5h14v14H.5z"/><path fill="#888" d="M7 4h1v7H7z"/><path fill="#888" d="M4 8V7h7v1z"/></g></svg>');
        background-position: center;
        background-repeat: no-repeat;
        content: ' ';
        display: block;
        height: .9375rem;
        left: -1rem;
        position: absolute;
        top: .4rem;
        width: .9375rem;
      }

      &::before {
        background: $color-mid-light;
        content: ' ';
        display: block;
        height: 1px;
        left: -.5rem;
        position: absolute;
        top: .8rem;
        width: 10px;
      }

      &--group[aria-expanded="true"]::after {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path id="a" d="M0 0h15v15H0z"/></defs><g fill="none" fill-rule="evenodd"><use fill="#FFF" xlink:href="#a"/><path stroke="#888" d="M.5.5h14v14H.5z"/><path fill="#888" d="M4 8V7h7v1z"/></g></svg>');
      }

      &[aria-expanded="true"] .p-list-tree {
        display: block;
      }
    }

    .p-list-tree {
      display: none;
      margin-left: 0;
    }
  }
}
